#homebody{
    background-color:#e1e2d7;
    position: absolute;
    width: 80%;
    height: 90%;
    top: 5%;
    left: 10%;
    border-style:solid;
    border-color:black;
    border-radius:15px;
    border-width:2px;

}